importFrom(nlme, Initialize, varWeights, getVarCov)
export(missPat, runScript)

# generic functions defined in auxiliary.R
export(logLik1,  Pwr, sigma, simulateY)
S3method(logLik1,lme)
S3method(Pwr,lme)
S3method(sigma,default)
S3method(simulateY, lme)
S3method(print, Pwr)


